/* This file originally found at http://www.erowid.org/archive/rhodium/chemistry/psychedelicchemistry/rhodium.css */
BODY {
	COLOR: #000000; BACKGROUND-COLOR: #ccddee
}
H1 {
	FONT-FAMILY: verdana, arial, helvetica, "sans-serif"
}
H2 {
	FONT-FAMILY: verdana, arial, helvetica, "sans-serif"
}
H3 {
	FONT-FAMILY: verdana, arial, helvetica, "sans-serif"
}
H4 {
	FONT-FAMILY: verdana, arial, helvetica, "sans-serif"
}
H5 {
	FONT-FAMILY: verdana, arial, helvetica, "sans-serif"
}
P {
	FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, "sans-serif"
}
TABLE {
	FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, "sans-serif"
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, "sans-serif"
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: verdana, arial, helvetica, "sans-serif"
}

