/* This file originally found at http://www.erowid.org/archive/rhodium/chemistry/3base/safrole.plants/fafopo/nwfp.css */
BODY {
	BACKGROUND: #C0C0C0; FONT-FAMILY: Times New Roman, Times, serif; FONT-SIZE: 12pt; MARGIN-LEFT: 5%; MARGIN-RIGHT: 15%
}
P {
	FONT-FAMILY: Times New Roman, Times, serif
}
UL {
	FONT-FAMILY: Times New Roman, Times, serif
}
H1 {
	COLOR: #002c57; DISPLAY: block; FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 18pt; TEXT-ALIGN: center
}
H2 {
	BORDER-BOTTOM-WIDTH: 1px; COLOR: #002c57; DISPLAY: block; FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 16pt; TEXT-ALIGN: center
}
H3 {
	COLOR: #004080; DISPLAY: block; FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 13pt; MARGIN-TOP: 2%
}
H4 {
	COLOR: #004080; FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 12pt; MARGIN-BOTTOM: 0px; MARGIN-TOP: 0px
}
H5 {
	MARGIN-BOTTOM: 0px; MARGIN-RIGHT: 1%; MARGIN-TOP: 0px; TEXT-ALIGN: center
}
H6 {
	FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0px; MARGIN-RIGHT: 5%; MARGIN-TOP: 0px
}
TD {
	FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 10pt
}
UL {
	LIST-STYLE: disc
}
SUP {
	FONT-FAMILY: Arial, helvetica, sans-serif; FONT-SIZE: 8pt
}
