/* This file originally found at http://www.erowid.org/archive/rhodium/chemistry/rhodium.css */
<HTML>
<HEAD>
<TITLE></TITLE>

<style>

body  { background: #CCDDEE
            background-color: #CCDDEE}

table, td, th        {
			font-family: verdana, arial, helvetica, "sans-serif" ;
			font-size: small;

		       }

p  {
			font-family: verdana, arial, helvetica, "sans-serif" ;
			font-size: small;

		       }

h1, h2, h3, h4, h5  {
			font-family: verdana, arial, helvetica, "sans-serif" ;

		       }

</style>

</HEAD>
<BODY>
</BODY>
</HTML>

